import url('https://fonts.googleapis.com/css?family=Creepster|Frijole|Nosifer|Eater|Astloch');
h1 {
    color: tomato;
}

/* Game  */
body {
    background-color: black;
}

#canvas {
    border: 5px solid tomato;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 70%;
}