@import url('https://fonts.googleapis.com/css?family=Creepster|Frijole|Nosifer|Eater|Astloch');

h1 {
    color: tomato;
}

/*game.html styling*/
#gameaudio {
    position: absolute;
    bottom: 0;
    right:0;
    width:100%;
    height:5%;
    min-height: 21.5px;
}

.game-info-bar {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#levelnamecenter{
    display: flex;
    flex-direction: column;
}

#levelname1 {
    font-family: Astloch, Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 2.5vw;
    letter-spacing: 2px;
    color:  #f7eac8;
    text-shadow: rgb(241, 173, 47) 2px 0 5px;
    text-align: left;
    background: rgba(2, 25, 68, 0.2);
    border: 1px solid rgba(54, 13, 150, 0.8);
    border-radius: 25px;
    box-shadow: 0px 0px 15px 1px rgb(50, 145, 189);
    padding: 3px 0px 3px 0px;
}

#player-lives-bar {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.jackLifeIcon{
    width: 5%;
    height: 100%;
    margin-bottom: 1%;
}

#player-lives-bar p {
    white-space: pre;
    font-family: Nosifer;
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 0%; 
}


.time-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
#timer {
    font-family: Nosifer;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff; 
}

#ghosts-killed{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

#ghosts-killed p {
    white-space: pre;
    font-family: Nosifer;
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 0%; 
}

/* Game  */
body {
    background: linear-gradient(45deg, #11021f, #021322);
}

#canvas {
    border: 4px solid #1a0230;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 70%;
}


/* Index Page */
#menu {
    border: 5px solid tomato;
    background-color: white;
    position: absolute;
    background-image: url(../images/background/fullbackground.png);
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 70%;
}

/* Index header logo */
#logo {
    display: flex;
    width: 100%;
    margin: 50px;
    padding-left: 50px;
}

#logo img {
    height: 12rem;
}





/* IndexPage Menu Buttons */
#menu-buttons .btn,
#volumeButton {
    background-color: #f4f4f4;
    color: tomato;
    font-family: 'Creepster', cursive;
    border: white;
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
    width: 70px;
    height: 70px;
    transition: background-color 0.3s, color 0.3s;
}

#menu-buttons .btn:hover,
#volumeButton:hover {
    background-color: #2D244C;
    color: tomato;
    border: 2px solid #955637;
}

a {
    text-decoration: none;
}

/* Instructions container */

#rules {
    margin-top: 200px;
}

/* Closing button for instructions */
#close-instructions {
    font-size: 1.2rem;
    font-weight: bold;
  }

 .fa-ghost {
   color: #ff6346;
 }

 .set-of-rules {
    text-align: left;
 }
