@import url('https://fonts.googleapis.com/css?family=Creepster|Frijole|Nosifer|Eater|Astloch');
@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

h1 {
    color: #FD6D55;
}

/*game.html styling*/
#gameaudio {
    position: absolute;
    bottom: 0;
    right:0;
    width:100%;
    height:5%;
    min-height: 21.5px;
}

.game-info-bar {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#levelnamecenter{
    display: flex;
    flex-direction: column;
}

#levelname1 {
    font-family: Creepster;
    font-weight: 400;
    font-size: 2vw;
    letter-spacing: 1px;
    color:  #f7eac8;
    text-shadow: rgb(241, 173, 47) 2px 0 5px;
    text-align: left;
    background: rgba(2, 25, 68, 0.2);
    border: 1px solid rgba(54, 13, 150, 0.8);
    border-radius: 25px;
    box-shadow: 0px 0px 15px 1px rgb(50, 145, 189);
    padding: 0.7rem;
}

#player-lives-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
#player.lives {
    white-space: pre;
    align-items: right;
}

.jackLifeIcon {
    width: 6%;
    height: auto;
    margin-bottom: 1%;
}

#ghost {
    width: 6%;
    height: auto;
    margin-bottom: 1%;
    margin-right: 15px;
}

#player-lives-bar p {
    white-space: pre;
    font-family: Nosifer;
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 0%; 
}


.time-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
#timer {
    font-family: Nosifer;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff; 
}

#ghosts-killed-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

#ghosts-killed-container p {
    white-space: pre;
    font-family: Nosifer;
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 0%; 
}

/* Monster-verse */
.monster-description {
    text-align: justify;
}

.monster-image {
    margin-left: 40%;
    width: 20%;
    height: auto;
}

.modal-content {
    background-color: #CA8639;
    
}

.modal-body {
    font-family: 'Modern Antiqua', Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    color: white;
}

.modal-header {
    color: #222e44;
    text-align: center;
    font-family: Creepster;
    margin: auto;
}

.monster-description > b {
    color: #292044;
}

/* Game  */
body {
    background: linear-gradient(45deg, #11021f, #021322);
}

#canvas {
    border: 4px solid #1a0230;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Index Page */
#menu {
    border: 5px solid #FD6D55;
    background-color: white;
    position: absolute;
    background-image: url(../images/background/fullbackground.png);
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 70%;
}

/* Index header logo */
#logo {
    display: flex;
    width: 100%;
    margin: 50px;
    margin-left: 10px;
    padding-left: 50px;
}

#logo img{
    width: 80%;
    height: auto;

}





/* IndexPage Menu Buttons */
#menu-buttons .btn,
#volumeButton {
    background-color: #f4f4f4;
    color: #262652;
    font-family: 'Creepster', cursive;
    border: 2px solid #262652;
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
    width: 70px;
    height: 70px;
    transition: background-color 0.3s, color 0.3s;
}

#menu-buttons .btn:hover,
#volumeButton:hover {
    background-color: #262652;
    color: #FD6D55;
    border: 2px solid #FD6D55;
}

a {
    text-decoration: none;
}

/* Play button bigger for accessibility */

#play-button {
    font-size: 2.3rem;
    background-color: #f4f4f4;
    color: #FD6D55;
    font-family: 'Creepster', cursive;
    border: 2px solid #FD6D55;
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
    width: 85px;
    height: 85px;
    transition: background-color 0.3s, color 0.3s;
}

#play-button:hover {
    background-color: #FD6D55;
    color: #2D244C;
    border: 3px solid #2D244C;
}

/* Instructions container */

#rules {
    margin-top: 100px;
}

#scoreBoard {
    margin-top: 100px;
}

#monster-verse {
    margin-top:100px;
    height: 80%;
}


/* Closing button for instructions */
#close-instructions {
    font-size: 1.2rem;
    font-weight: bold;
  }

 .fa-ghost {
   color: white;
 }

 .set-of-rules {
    text-align: left;
 }

 #jack-image {
    width: 2.5rem;
    height: auto;
 }

 /* Go-back-to-menu button in the game page */
#go-back-menu-container {
    width: 0.2rem;
    height: 0.2rem;
} 

 /* Return to Homepage button in the game page */
#go-back-to-menu {
    padding: 0.1;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    width: auto;
    height: auto;
}

#go-back-to-menu:hover {
    background-color: #2D244C;
    color: white;
    border: 3px solid white;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    
    /* Index page */
    #menu-buttons{
        margin-top: 10%;
    }

    /*#logo { 
    }*/

    #logo img {
        width: 50%;
        height: auto;
    }
    

}

/* Media query: laptops and larger (992px and up) */
@media screen and (min-width: 992px) {

    /* Index page */
    #menu-buttons{
        margin-top: 12%;
    }

    #logo img {
        width: 25%;
    }

}